body {
  font-family: Arial;
  padding: 20px;
}

input, select {
  margin: 5px;
  padding: 5px;
}

button {
  padding: 6px 10px;
  margin: 5px;
  cursor: pointer;
}

table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
}